img {
height: 400px;
width: 400px;
}
header {
        height: 80px;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items:center;
        }
nav {
      display: flex;
      justify-content: center; }
nav a {
        color: #d5981b;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
        }
header img {
        img-align: left;
        height: 80px;
        width: 80px;
        }
body {
background-color: #d51bac;
color: blue;
}
.brd {
    border: 0px;
    padding: 10px 20px 10px 20px;
    width: 500px;
    margin: 20px auto;
    word-break: break-word;
    background-image: url(https://top-fon.com/uploads/posts/2023-02/1675386847_top-fon-com-p-nenavyazchivii-fon-dlya-prezentatsii-1.jpg);
    border-radius: 15px;
    box-shadow: 4px 3px 3px 2px #abf1f2;

    }

