img {
    height: 400px;
    width: 400px;
    }
nav {
    display: flex;
    justify-content: center;
    }
nav a {
    color: #d5981b;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    }
body {
    background-color: #f28bf0;
    color: #475be5;
     }
.brd {
    border: 0px;
    padding: 10px 20px 10px 20px;
    width: 500px;
    margin: 20px auto;
    word-break: break-word;
    background-image: url(https://top-fon.com/uploads/posts/2023-02/1675386847_top-fon-com-p-nenavyazchivii-fon-dlya-prezentatsii-1.jpg);
    border-radius: 15px;
    box-shadow: 0px 0px 6px 6px grey;
    }

