<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}

    <title>{{page_title}}</title>

</head>
<body>
    <header>
       <p> <img src="https://pic.rutubelist.ru/user/50/f7/50f7331fd4eb32343dae3a156a8df09f.jpg"> </p>
       <center>
           <nav>
           <a href="/dogs" class="change_color_link"> Пёсики </a>
           <a href="/cats" class="change_color_link"> Котики </a>
           </nav>

       </center>
    </header>


<center>
{% block content %}
{% endblock %}
</center>
</body>
</html>