<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock %}
    <style>
        header {
        height: 80px;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        nav {
        display: flex;
        justify-content: center;
        }
        a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
        }
    </style>

    <title>{{page_title}}</title>


</head>
<body>

<center>
   <header>
      <nav>
          <a href="/dogs"> Собаки </a>
          <a href="/cats"> Кошки </a>
      </nav>
   </header>

{% block content %}
{% endblock %}
</center>
</body>
</html>