{% load static %}

    <footer>
        <center> <h1> Follow & contact us </h1> </center>
        <buttons>
        <center>
                <a href="https://vk.com/public219928395" class="footer_button">
                    <p> <img src="/static/main_page/img/вк.png" class="footer_img"></p>
                </a>
                <a href="http://www.instagram.com/" class="footer_button">
                    <p> <img src="/static/main_page/img/инста.png" class="footer_img"></p>
                </a>
                <a href="https://www.etsy.com/" class="footer_button">
                    <p> <img src="/static/main_page/img/этси.png" class="footer_img"></p>
                </a>
                <a href="https://t.me/localhost_test_channel" class="footer_button">
                    <p> <img src="/static/main_page/img/телега.png" class="footer_img"></p>
                </a>
        </center>
        </buttons>
    </footer>

